extends layout

block append head 
	link(rel='stylesheet', href='/stylesheets/login.css')

block content
	.container
		.form-signin
			.form-group
				form#formAddUser(name="login",method="post",action="/login/data")
					img.center-block.padD15.logo(src='/images/logo-sm2.png')
					input.form-control.marginD15(type='text', name='user', placeholder='username', id="userID", value='kbanothu')
					input.form-control(type='password', name='pass', placeholder='password', id="passID", value='test')
					button.btn.btn-lg.btn-success.btn-block(style='margin-top:-5px;',type="submit") Login
				button.btn.btn-lg.btn-info.btn-block(style='margin-top:20px;', type="button", onclick="window.location.href='/register'") Sign Up

		
