html
  head
  body
    h1 Braintree Credit Card Transaction Form
    div
      div
      form(action='/create_transaction', method='POST', id='braintree-payment-form')
        p
          label Amount
          input(type='number', min='500', max='10000', name='amount')
        p
          label Card Number
          input(type='text', size='20', autocomplete='off', data-encrypted-name='number')
        p
          label CVV
          input(type='text', size='4', autocomplete='off', data-encrypted-name='cvv')
        p
          label Expiration (MM/YYYY)
          input(type='text', size='2', name='month')
          | /
          input(type='text', size='4', name='year')
        input#submit(type='submit')
  script(src='https://js.braintreegateway.com/v1/braintree.js')
  script(type='text/javascript').
    var braintree = Braintree.create('MIIBCgKCAQEAvJAW++fEegfwx+CK2pIYQ9WJ1tjWH4Zlzp/UjWWpsycZr6T/5LbDoKnyo5pXXv6k2Xdm4TDXqbUpr5KGUfj+wwJPb4rzpAELP0z0kZt3wxGzd6B9F9R+8e9iTA1OTlBfsl28ziR3DRU5Fr/5Y8EFBecIPOoa9NgcR/Fa5tAJ+WsaelsLZhUcsG5KezhsfQmnyEGuzm8OeYv/kq0Bwz0EjtW3bhidnBVhi8xvFPr2pqgk9aG9YMZHHA49ncykUHXHkVgJITP/gPVDcu5MuA5cWQbzhG8/l/raAwqmgy6xSD58nxwXI1YYf+phbWErvwjv7camWe7Pd1iTZSgKKSlfpQIDAQAB');
    braintree.onSubmitEncryptForm('braintree-payment-form');
