html(lang='en')
head
    meta(charset='utf-8')
    title Land — Coverstrap Template
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/questionnaire.css', rel='stylesheet')
  body
    .container
      .row
        .col-md-12.text-center
          strong#logo SchoolMe Questionnaire
          //h1 fill out that questionnaire!
          h2 Fill out your basic information to let investor better SchoolYou!
          .row
    .col-md-4.col-md-offset-4
        form#formStudentProfile.form-horizontal(name='studentProfile', role='form', method='post', action='/student/questionnaire')
          fieldset
            //
               Form Name 
            legend Personal information
            //
               Text input
            .form-group
              label.col-sm-2.control-label(for='textinput') Amount
              .col-sm-10
                input.form-control(type='text', name='amount', value='5000')
            .form-group
              label.col-sm-2.control-label(for='textinput') Degree
              .col-sm-10
                input.form-control(type='text', name='degree', value='cs')
            .form-group
              label.col-sm-2.control-label(for='textinput') School
              .col-sm-10
                input.form-control(type='text', name='school', value='Purdue University')
            .form-group
              label.col-sm-2.control-label(for='textinput') Year
              .col-sm-10
                input.form-control(type='text', name='year', value='2014')
            .form-group
              label.col-sm-2.control-label(for='textinput') Major
              .col-sm-10
                input.form-control(type='text', name='major', value='Software Engineering')
            .form-group
              label.col-sm-2.control-label(method='post', action='file-upload-1.htm', name='submit', enctype='multipart/form-data') Resume
              .col-sm-10
                input.form-control(type='file', name='fileField')
            .form-group
              label.col-sm-2.control-label(method='post', action='file-upload-1.htm', name='submit', enctype='multipart/form-data') Photo
              .col-sm-10
                input.form-control(type='file', name='fileField')
            .form-group
              .span4.well(style='padding-middle: 0;')
                label(accept-charset='UTF-8', action='', method='POST') Message
                  textarea#new_message.span4(name='new_message', placeholder='Type in your words to the investor', rows='10', cols='40')
            .form-group
              .col-sm-offset-2.col-sm-10
                .pull-right
                  button.btn.btn-default(type='submit') Cancel
                  button.btn.btn-primary(type='submit') Save
      .row
    #links.col-md-12.text-center
        p
          a(href='http://google.com')
            span.glyphicon.glyphicon-home
            | From SchoolMe
          span.separator ·
          a(href='#')
            span.glyphicon.glyphicon-user
            | About Us
          span.separator ·
          a(href='#')
            span.glyphicon.glyphicon-thumbs-up
            | Like Us
          span.separator ·
          a(href='#')
            span.glyphicon.glyphicon-envelope
            | Contact Us